@model Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.operation = @ViewData["operation"];
	ViewBag.Title = "AddUpd_ModalPeopleSearch";

	if (Model.PeopleSearchingVM == null)
		Model.PeopleSearchingVM = new Eco_Colocation.ViewModel.PeopleSearchingViewModel(true);

	Model.PeopleSearchingVM.InitLst();
}

@using (Html.BeginForm())
{
	<div class="underModal col-sm-12 col-xs-12">
		<div id="addUpd_ModalPeopleSearch" class="reelModal">
			@if (!User.Identity.IsAuthenticated)
			{
				if (ViewBag.operation == "Subscribe")
				{
					<h2 class="title centerText">Publier vos intérêts de recherche en vous inscrivant</h2>
				}
				else if (ViewBag.operation == "Update")
				{
					<h2 class="title centerText">Modifier mon annonce de recherche d'éco-colocation</h2>
					<div class="flex">
						<a href="@Url.Action("", "", null)" class="btnGreen flex childFlex" id="btnDisableProfilInterested">Désactiver mon intérêt de recherche</a>
					</div>
				}
				else
				{
					<h2 class="title centerText">Ajouter mon annonce de recherche d'éco-colocation</h2>
				}
			}
			else
			{
				if (ViewBag.operation == "Update")
				{
					<h2 class="title centerText">Modifier mon annonce de recherche d'éco-colocation</h2>
					<div class="flex">
						<a href="@Url.Action("", "", null)" class="btnGreen flex childFlex" id="btnDisableProfilInterested">Désactiver mon intérêt de recherche</a>
					</div>
				}
				else
				{
					<h2 class="title centerText">Ajouter mon annonce de recherche d'éco-colocation</h2>
				}
			}
			<div class="divEncadrer-mcar">
				<div class="encadrer-mcar col-sm-11 col-xs-12">
					<div class="col-sm-4 divLeftSideEncadrer-mcar divImgLogo-mcar">
						<div class="divImgLogoHorizontal-mcar">
							<div class="divImgLogoVertical-mcar">
								<i class="fas fa-search icon-ca"></i>
							</div>
						</div>
					</div>
					<div class="col-sm-8 divRightSideEncadrer-mcar">
						<div class="col-sm-12">
							<div id="divBudgMax-mcar" class="col-sm-4">
								<label class="lbl-mcar">Budget maximum&nbsp;*</label>
							</div>
							<div id="divInputBudgMax" class="col-sm-7">
								@Html.TextBoxFor(m => m.PeopleSearchingVM.PlaceBo.ResearchRoommateBo.MaxBudget, new
								   {
									   @placeholder = "Entrez le buget max",
									   @type = "number",
									   @class = "input-mcar"
								   })
								<div class="lineinput-mcar"></div>
								<div id="euroSignBudgetMax-mcar">€</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div id="div10-2-adresseLog-ca" style="position:relative" class="fontFamilyNote">
								<div class="divResearchLocation flex">
									<div class="flex">
										<div class="childFlex">
											@Html.DropDownListFor(m => Model.PeopleSearchingVM.PlaceBo.ScopeResearch,
												  new SelectList(Model.PeopleSearchingVM.ScoopResearchLst, "Text", "Value"), new
												  {
													  @id = "typeResearchSct-car",
													  @class = "form-control typeResearchSct",
													  @onchange = "typeOfResearchLocation(this, '#inputSearchPlace-car')"
												  })
										</div>
									</div>
									<input id="inputSearchPlace-car" oninput="addr_searchCity(this, 'inputEntirePlaceName-mps');checkToDisableLstOrNot(this, '#typeResearchSct-car')" type="text"
										   class="form-control inputSearchPlace" placeholder="Veuillez indiquer la commune concernée&nbsp;*">
									<div class="divInputPlaceHidden displayNone">
										@Html.TextBoxFor(m => Model.PeopleSearchingVM.LstPlaceBo[-1].EntirePlaceName, new { @type = "hidden" })
										@*Dans ce div la function jquery saveValueSelected va recreer d'autre html helper pour chaque nouvelle localisation *@
									</div>
								</div>
								@*<input id="inputSearchPlace-mpcHidden" name="inputSearchPlace-mpcHidden" type="hidden">*@
								<div class="listAutoCompleteToModal"></div>
								<div id="placeSaved-car" class="placeSaved">
									<div id="place-car" class="place">
									</div>
								</div>
								<div id="div10-3-adresseLog-ca" class="flex col-sm-12">
									<div id="div10-4-adresseLog-ca" class="col-sm-2"></div>
									<i class="fas fa-info" id="iconPlace-ca"></i>
									<p class="col-sm-12 autoMargin">Il vous est possible d'indiquer plusieurs lieux concernant votre projet de création d'éco-colocation</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<p id="txtAlertEmail-car">Voulez-vous être alerté par mail des nouvelles annonces qui respectent vos critères de recherche ?</p>
							<div class="flex">
								<div class="childFlex">
									<p class="onoff">
										@Html.TextBoxFor(m => m.PeopleSearchingVM.PlaceBo.ResearchRoommateBo.EmailAlert, new { type = "checkbox", @value = "1", @id = "email-car" })
										<label for="email-car"></label>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="descTextAnnonceLocationDataPersonnal" class="flex col-sm-12 textInfoAdresse-ca">
				<div id="div10-4-adresseLog-ca" class="col-sm-2"></div>
				<i class="fas fa-info" id="iconPlace-ca"></i>
				<p class="fontFamilyNote col-sm-12" style="margin: auto;">
					Toutes ces données ne seront pas visibles publiquement, seulement votre prénom, votre âge et l'activité apparaîtra sur votre profil.
				</p>
			</div>
			@if (!User.Identity.IsAuthenticated)
			{
				@Html.Partial("~/Views/Account/PersonalDataForm.cshtml", Model)
			}
			else
			{
				@Html.Partial("~/Views/Account/PersonalDataForm.cshtml", Model)
				<div id="divMethodToBeContact-car"></div>
			}
			<div class="divEncadrer-mcar" id="divDesciptionInfo-mcar">
				<div class="encadrer-mcar col-sm-11 col-xs-12">
					<div class="col-sm-4 col-xs-12 divImgLogo-mcar">
						<div class="divImgLogoHorizontal-mcar">
							<div class="divImgLogoVertical-mcar">
								<i class="fas fa-pencil-alt icon-ca"></i>
							</div>
						</div>
					</div>
					<div class="col-sm-8 col-xs-12" id="divGlobalPresent-mcar">
						<div class="col-sm-12" id="divDesciptionInfo2-mcar">
							<label class="lbl-mcar">Présentation de votre personnalité&nbsp;*</label>
							@Html.TextAreaFor(m => m.AccountVM.UserBo.PersonBo.PersonnalityDescription, new
							   {
								   @class = "txtareaDesc-mcar input-mcar",
								   @id = "txtareaPersoP-mcar",
								   @placeholder = "Présentez-vous en quelque ligne..."
							   })
						</div>
						<div class="col-sm-12" id="divCritereRecherche-mcar">
							<label class="lbl-mcar" id="lblCritereRecherche-mcar">Information sur vos critères de recherche&nbsp;*</label>
							@Html.TextAreaFor(m => m.PeopleSearchingVM.PlaceBo.ResearchRoommateBo.SearchCriteria, new
							   {
								   @class = "txtareaDesc-mcar input-mcar",
								   @placeholder = "Présenter le type d'éco-colocation recherchée..."
							   })
							@Html.TextAreaFor(m => m.PeopleSearchingVM.PlaceBo.ResearchRoommateBo.EcoPractice, new
							   {
								   @class = "txtareaDesc-mcar input-mcar",
								   @placeholder = "Présenter les pratiques écologiques envisagées..."
							   })
						</div>
					</div>
				</div>
			</div>
			<div class="divEncadrer-mcar">
				<div class="encadrer-mcar col-sm-11 col-xs-12">
					<div class="col-sm-4 divLeftSideEncadrer-mcar divImgLogo-mcar">
						<div class="divImgLogoHorizontal-mcar">
							<div class="divImgLogoVertical-mcar">
								<i class="fas fa-camera-retro icon-ca"></i>
							</div>
						</div>
					</div>
					<div class="col-sm-8 divRightSideEncadrer-mcar">
						<div id="divGlobalMsgPhoto-mcar">
							<i class="fas fa-info" id="iconMsgPhoto-mcar"></i>
							<div>
								<p>Les profils accompagnées d'une photo sont 7 fois plus consultés que les autres.</p>
							</div>
						</div>
						<div id="divGlobalBtnUplFile-mcar">
							<label id="btnUplFile-mcar" for="file-upload">Ajouter une photo de vous</label>
							@Html.TextBoxFor(m => m.PeopleSearchingVM.PlaceBo.ResearchRoommateBo.PictureName, new
							   {
								   @id = "file-upload",
								   @type = "file",
								   @class = "filePicture-mcar",
								   @onchange = "showfile('divResultFilesUpl-mcar')"
							   })
						</div>
					</div>
				</div>
			</div>
			<div id="divGlobalResultFilesUpl-mcar">
				<div class="childFlex">
					<ul id="divResultFilesUpl-mcar" class='all-slides'>
						@*Html généré par javascript dans la fonction showMultiplesFilesUpload()*@
					</ul>
				</div>
			</div>
			@if (ViewBag.operation == "Update")
			{
				<div class="flex">
					<input type="submit" name="action:Valid_Update" class="childFlex btnGreen" value="Mettre à jour" />
				</div>
			}
			@if (!User.Identity.IsAuthenticated)
			{
				if (ViewBag.operation == "Subscribe")
				{
					@Html.Partial("~/Views/Account/PasswordDiv.cshtml", Model)
					<div class="flex" id="divInscriptionButtons-mcar">
						<input type="submit" name="action:Valid_AddAndSubscribe" class="childFlex btnGreen" value="Publier et m'inscrire" />
					</div>
				}
				else if (ViewBag.operation != "Update")
				{
					<div id="divInscriptionButtons-mcar">
						@Html.Partial("~/Views/Account/ButtonsCreateAccount.cshtml", Model)
					</div>
				}
			}
			else
			{
				if (ViewBag.operation != "Update")
				{
					<div class="flex" id="divInscriptionButtons-mcar">
						<input type="submit" name="action:Valid_Add" class="childFlex btnGreen" value="Ajouter mon annonce" />
					</div>
				}
			}
		</div>
		<div class="divCloseModal">
			<a href="#close-modal" rel="modal:close" onclick="autoCompletePrepend()"><i class="fas fa-times close-modal"></i></a>
		</div>
	</div>
}
<script type="text/javascript">
	initSlidepicture();
	showDivCritereRecherche();

	$('#descTextAnnonceLocationDataPersonnal').detach().prependTo('#extraElement-pdf');

	$(document).on('input', '#emailInp-pdf', function (e) {
		copyEmailToUserAuthentification("#emailInp-pdf", "#UserNameInpt-pd")
		copyEmailToUserAuthentification("#emailInp-pdf", "#emailInp-bca")
	});

	if ($("#divMethodToBeContact-car").length != 0) {
		$("#divPersonnaliteInfo-mcar").remove();
	}

	var operation = "@ViewData["operation"]";
	if (operation == "Update") {
		window.history.replaceState('data to be passed', 'Title of the page',
				'/Modal/AddUpd_ModalPeopleSearchUpdate/?idModal=' + @ViewData["idModal"] + "&targetCity=" + "@ViewData["targetCity"]");
	} else {
		window.history.replaceState('data to be passed', 'Title of the page',
			"/Modal/AddUpd_ModalPeopleSearch?urlCurrentPage=" + $('#urlCurrentPage').val());
	}

	if (operation == "") {
		addInputActionToConnectionButton()
	}
</script>