@model  Eco_Colocation.ViewModel.PeopleSearchingViewModel
@{
	ViewBag.Title = "HtmlAnnoncePeople";
}

<div class="col-lg-3 col-sm-4 col-xs-6 divPeoplesSearching">
	<i class="fas fa-heart heartImg"></i>
	<a id="peopleSearchingLink-@Model.IdPeopleSearching" class="col-sm-9 col-xs-9 divPeopleSearching" href="@Url.Action("ModalPeopleSearch", "PeopleSearching", new { @idModal = Model.IdPeopleSearching })"
	   rel="modal:open" onclick="addOperationRealized_sp('SPView', '@Model.IdPeopleSearching')">
		<div id="divImgPlSch">
			<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;"></div>
		</div>
		<div id="divContenuPlSch" class="fontFamilyNote">
			<div id="titlePrenom-ps">
				<p>Victoire</p>
				<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
			</div>
			<div id="infoPlusPerson-ps">
				<p id="statutPl">Etudiante, 22 ans</p>
				<p>Budget max de 450 €</p>
			</div>
			<div id="descriptionPl">
				Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être...
			</div>
			<div id="divMembrePl">Membre depuis 6 jours</div>

			<div id="logoPl">
				<i class="fas fa-eye imgToCheck-ps" id="eyesImg-ps@Model.IdPeopleSarching" onload="checkIfOperationRealized_sp('SPView', '@Model.IdPeopleSearching')"></i>
				<i class="far fa-envelope imgToCheck-ps" id="msgImg-ps @Model.IdPeopleSearching" onload="checkIfOperationRealized_sp('SPSendMsg', '@Model.IdPeopleSearching')"></i>
			</div>
		</div>
	</a>
</div>

