@model Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.Title = "Index";
	ViewBag.urlCurrentPage = "/PeopleSearching/Index";
}

<div id="peopleSearching">
	<h3 id="titleSearching">Personnes qui recherchent dans cette zone</h3>
	<div class="flex">
		<div class="childFlex">
			<select class="form-control" id="multipleLocalisation-pl" onchange="updateLocalisationPeopleSearch()">
				@*Ajouter dans le function js le nom de la ville associé*@
				<option value="1">Rennes 35, Ille-et-Vilaine, Bretagne</option>
				<option value="2">Acigné 35, Ille-et-Vilaine, Bretagne</option>
				<option value="2">Bruz 35, Ille-et-Vilaine, Bretagne</option>
			</select>
		</div>
	</div>
	<h3 id="nbPersonneRecherche-ps">Resultat : 150 personnes</h3>
	<div class="flex" id="divAddSearchAnounce-ps">
		@* !!! A faire au future : S'il est connecté et qu'il a déja ajouté une annonce de recherche, alors ne pas afficher le lien ci-dessous*@
		<div class="childFlex fontFamilyNote" id="divLinkPublishInteresse-ps">
			<i class="far fa-id-badge"></i>
			<a id="addSearchingAnnonceLink-ps" href="@Url.Action("ModalCARecherche", "Account", null)" rel="modal:open" class="noLink">Ajouter mon annonce de recherche d'éco-colocation</a>
		</div>
	</div>
	<div id="divPanelPl">
		@if (User.Identity.IsAuthenticated)
		{
			<div class="col-lg-3 col-sm-4 col-xs-6 divPeoplesSearching">
				<i class="fas fa-heart heartImg"></i>
				<a id="peopleSearchingUpdateLink-1" class="col-sm-9 col-xs-9 divPeopleSearching" href="@Url.Action("ModalUpdateDataProfil", "PeopleSearching", new { @idModal = "1" })" rel="modal:open">
					<div id="divImgPlSch">
						<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;">
						</div>
					</div>
					<div id="divContenuPlSchDisable" class="fontFamilyNote">
						<p class="fontFamilyNote childFlexVertical childFlex" id="txt1ContenuDisable">Votre annonce est désactivée.</p>
						<p class="fontFamilyNote">Cliquer dessus pour la mettre à jour.</p>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-6 divPeoplesSearching">
				<i class="fas fa-heart heartImg"></i>
				<a id="peopleSearchingLink-2" class="col-sm-9 col-xs-9 divPeopleSearching" href="@Url.Action("ModalPeopleSearch", "PeopleSearching", new { @idModal = "2" })"
				   rel="modal:open" onclick="addOperationRealized_sp('SPView', '2')">
					<div id="divImgPlSch">
						<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;"></div>
					</div>
					<div id="divContenuPlSch" class="fontFamilyNote">
						<div id="titlePrenom-ps">
							<p>Victoire</p>
							<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
						</div>
						<div id="infoPlusPerson-ps">
							<p id="statutPl">Etudiante, 22 ans</p>
							<p>Budget max de 450 €</p>
						</div>
						<div id="descriptionPl">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être...
						</div>
						<div id="divMembrePl">Membre depuis 6 jours</div>
						<div id="logoPl">
							<i class="fas fa-eye imgToCheck-ps" id="eyesImg-ps2" onload="checkIfOperationRealized_sp('SPView', '2')"></i>
							<i class="far fa-envelope imgToCheck-ps" id="msgImg-ps2" onload="checkIfOperationRealized_sp('SPSendMsg', '2')"></i>
						</div>
					</div>
				</a>
				<div class="flex">
					<a id="peopleSearchingUpdateLink-2" href="@Url.Action("ModalUpdateDataProfil", "PeopleSearching", new { @idModal = "2" })" rel="modal:open" class="btnGreen flex childFlex btnModifyEvent-mps">Mettre à jour mon profil</a>
				</div>
			</div>
		}

		@if (Model != null)
		{
			foreach (var peopleSearching in Model?.PeopleSearchingViewModel?.LstPeopleSearchingVM)
			{
				Model.PeopleSearchingViewModel.IdPeopleSearching = peopleSearching.IdPeopleSearching;
				@Html.Partial("~/Views/PeopleSearching/HtmlAnnoncePeople.cshtml", Model)
			}
		}
		<div class="col-xs-12" id="divBtnOtherAnnoncePeople-ps">
			<div class="flex col-xs-12">
				<div class="btnGreen childFlex" id="btnOtherAnnoncePeople-ps" onclick="showOthersPeople()">
					<p id="txtShowNewEvent-alpv">Voir plus de personnes</p>
					<div class="flex"><i class="fas fa-sort-down childFlex" id="iconShowNewEvent-alpv"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('.imgToCheck-ps').load();
		$('.heartImg').on('click', function (e) {
			$(e.target).css("color", "rgba(196, 209, 2, 0.6)")
		})
	})
</script>