
@{
	ViewBag.Title = "Read_ModalPeopleSearch";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="read_ModalPeopleSearch" class="reelModal">
		<div id="divMessage-ml">
			<img onclick="displayPVMessage()" src="https://img.icons8.com/material-outlined/40/000000/circled-chevron-left.png">
			<div class="col-sm-6 col-xs-12" style="padding:0">
				@Html.Partial("~/Views/ContactUs/PartialViewMessage.cshtml", new ViewDataDictionary(ViewData) { { "elementId", @ViewData["idModal"] }, { "viewPageName", "SPSendMsg" } });
			</div>
		</div>
		<div id="divPhoto-ml">
			<div id="div-photos-mpc" class="col-sm-6 col-xs-12">
				<div class="photo-mpc mySlides" id="img-mps" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;"></div>
			</div>
		</div>
		<div id="div-description-mpc" class="col-sm-6 col-xs-12 fontFamilyNote">
			<div id="d1-description-mpc">
				<div id="d1-description-mpc" style="display: flex;">
					<div style="margin-left: auto;margin-right: auto;display: flex;margin-bottom:10px">
						<div id="d1-3-description-mpc" class="col-sm-12 col-xs-12" style="margin-left: auto;margin-right: auto;">
							<h4 class="centerText">Victoire</h4>
							<p class="centerText" style="margin: 0;">22 ans, Salariée</p>
							<p class="centerText">Budjet max de 450 €</p>
							<p id="p-d1-3-description-mpc">Membre depuis 3 jours</p>
						</div>
					</div>
				</div>
				<div class="flex" style="margin-bottom:10px">
					<div class="childFlex">
						@if (User.Identity.IsAuthenticated)
						{
							<div class="d3-1-description-mpc btnGreen" onclick="displayPhoneNumber('#numberPhone-mps')">
								<i class="fas fa-phone imgBtnContact-mpc"></i>
								<span id="libelleTelephone-mpc">Afficher le numéro</span>
								<span id="numberPhone-mps"></span>
							</div>
						}
						else
						{
							<a class="d3-1-description-mpc btnGreen" href="@Url.Action("ModalAccount", "Account", null)" rel="modal:open">
								<i class="fas fa-phone imgBtnContact-mpc"></i>
								<span id="libelleTelephone-mpc">Afficher le numéro</span>
								<span id="numberPhone-mps"></span>
							</a>
						}
						@if (User.Identity.IsAuthenticated)
						{
							<div id="d3-2-description-mpc" onclick="displayPVMessage();$('#modalLocation').scrollTop(0);" class="btnGreen">
								<i class="far fa-envelope imgBtnContact-mpc"></i>Envoyer un message
							</div>
						}
						else
						{
							<a id="d3-2-description-mpc" href="@Url.Action("ModalAccount", "Account", null)" rel="modal:open" class="btnGreen">
								<i class="far fa-envelope imgBtnContact-mpc"></i>Envoyer un message
							</a>
						}
					</div>
				</div>
				<div id="div1PersonnalitePC" class="col-sm-12">
					<div id="div2PersonnalitePC" style="width: initial;">
						<p class="centerText">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être davantage au contact de la nature mais
							également des animaux. Mon métier est également une passion pour moi, je construis de nombreux objets de décoration. Je souhaiterais donc pouvoir avoir un atelier. En espérant pouvoir partager celui-ci avec mes futures eco-coloc.
						</p>
					</div>
				</div>
			</div>
			<div id="d5-description-mpc">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">Lieu(x) de recherche</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Rennes 35, Ille-et-Vilaine, Bretagne</td>
						</tr>
						<tr>
							<td>Nouvoitou 35, Ille-et-Vilaine, Bretagne</td>
						</tr>
						<tr>
							<td>Vern-sur-Seiche 35, Ille-et-Vilaine, Bretagne</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="divCloseModal">
		<a href="#close-modal" rel="modal:close"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>

<script language="javascript">
	$(document).ready(function () {
		window.history.replaceState('data to be passed', 'Title of the page',
			'/Modal/Read_ModalPeopleSearch/?idModal=' + @ViewData["idModal"] + "&targetCity=" + "@ViewData["targetCity"]");
	});
</script>