
@{
	ViewBag.Operation = @ViewData["operation"];
	ViewBag.Title = "AddUpd_ModalCreationProjectAd";
}
<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreationProjet-ColocAnnounce" class="reelModal">
		<div style="margin-bottom: 30px;">
			@if (User.Identity.IsAuthenticated)
			{
				<h2 class="title centerText">Creer un projet de création</h2>
			}
			else
			{
				if (@ViewData["operation"] == null)
				{
					<h2 class="title centerText">Creer un projet de création</h2>
				}
				else if (ViewBag.Operation == "Subscribe")
				{
					<h2 class="title centerText">Publier votre projet de création en vous inscrivant</h2>
				}
				else if (ViewBag.Operation == "update")
				{
					<h2 class="title centerText">Modifier votre projet de création</h2>
				}
			}
		</div>
		<div class="divSommaireFormulaire sousDivFormColoc-ayer divSommaireFormulaireProposition">
			<div class="flex">
				<p class="etoileObligation">*</p>
				<p class="txtEtoileObligation">Champ obligatoire</p>
			</div>
		</div>
		<div id="htmlBlockModalCreationProjet-mpc">
			<div id="div1-contenu-ca" class="col-sm-12">
				<div id="div1-1-contenu-ca" class="col-sm-11 col-xs-12">
					<div id="divDescAnn-ca" class="col-sm-12 col-xs-12">
						<div id="div1DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<label for="introAnnonce-mpc">Introduction de votre annonce *</label>
							</div>
						</div>
						<div id="div2DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<textarea id="introAnnonce-mpc" class="inpDescAnnonce" name="descAnnonce" maxlength="100"
										  placeholder="Ex: Création en commun d'un éco-habitat pour 5 personnes."></textarea>
							</div>
						</div>
					</div>
					<div class="childFlex overflow" id="infoChampsAnnonce-ml-mpc">
						<p class="centerText">ATTENTION : Votre texte apparaîtra en un seul bloc, merci de faire des phrases !</p>
					</div>
					<div id="divDescAnn-ca" class="col-sm-12 col-xs-12">
						<div id="div1DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<label for="descAnnonce-mpc">Description de votre projet *</label>
							</div>
						</div>
						<div id="div2DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<textarea id="descAnnonce-mpc" class="inpDescAnnonce" name="descAnnonce" placeholder="J'ai pour projet de ... [terrain/habitat, achat/location, nombre de coloc, façon de vivre, etc] ."></textarea>
							</div>
						</div>
					</div>
					<div id="divDescAnn-ca" class="col-sm-12 col-xs-12">
						<div id="div1DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<label for="descPersonneRecherche-ml">Description de la recherche</label>
							</div>
						</div>
						<div id="div2DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<textarea id="descPersonneRecherche-ml" class="inpDescAnnonce" name="descAnnonce" placeholder="Je recherche  ... [Nombre de personne, type de personne, implication attendu, etc] ."></textarea>
							</div>
						</div>
					</div>
					<h2 class="col-xs-12 underTitle centerText" id="titleAboutColocation-ml">Ce que vous envisagez ...</h2>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="convivialite-mpc">Convivialité souhaitée au sein de l'habitat</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="convivialite-mpc" class="inpDescAnnonce" name="descEcoPratique" placeholder="Je souhaiterai que ... [Activités partagés, capacité d’accueil, etc] ."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="organisation-mpc">Organisation souhaitée</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="organisation-mpc" class="inpDescAnnonce" name="descEcoPratique" placeholder="Je voudrais que ... [Organisations des tâches, ressources financières, etc] ."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="descEcoPratique-mpc">Pratiques écologiques souhaitées</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="descEcoPratique-mpc" class="inpDescAnnonce" name="descEcoPratique" placeholder="J'aimerais que ... [attitude, niveau d'implication, etc] ."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="autresPrecisions-mpc">Autres précisions ... </label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="autresPrecisions-mpc" class="inpDescAnnonce" name="descEcoPratique"></textarea>
							</div>
						</div>
					</div>
					<div class="flex globalDivShowUserDesc">
						<div class="childFlex divShowUserDesc">
							<p class="underTitle centerText titleshowUserDesc">Aperçu du rendu final de votre description</p>
							<div class="divTextshowUserDesc">
								<input type="text" placeholder="Rendu de votre description en attente..." disabled="" id="textShowUserDesc-ayer" class="textShowUserDesc">
								<div>
									<p id="introAnnonce-mpcResult" class="inpDescAnnonceResult titleDescAnnonceResult centerText"></p>
									<p id="descAnnonce-mpcResult" class="inpDescAnnonceResult"></p>
									<p id="descPersonneRecherche-mlResult" class="inpDescAnnonceResult"></p>
									<p id="convivialite-mpcResult" class="inpDescAnnonceResult"></p>
									<p id="organisation-mpcResult" class="inpDescAnnonceResult"></p>
									<p id="descEcoPratique-mpcResult" class="inpDescAnnonceResult"></p>
									<p id="autresPrecisions-mpcResult" class="inpDescAnnonceResult"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="div-adresseLog-ca" class="col-sm-12" style="">
				<div id="div1-adresseLog-ca" class="col-sm-11 col-xs-12">
					<div style="width: 100%;">
						<div class="col-sm-4 div2-2-descInform-ca" style="padding: 0;">
							<div class="flex childFlex">
								<i class="fas fa-map-signs childFlex icon-ca" style="margin-top: auto;margin-bottom: auto;"></i>
							</div>
						</div>
						<div id="div10-1-adresseLog-ca" class="col-sm-8 col-xs-12">
							<div id="div10-2-adresseLog-ca" style="position:relative">
								<div class="divResearchLocation flex">
									<div class="flex">
										<div class="childFlex">
											<select id="typeResearchSct-mpc" class="form-control typeResearchSct" onchange="typeOfResearchLocation(this, '#inputSearchPlace-mpc')">
												<option value="communes" selected="">Communes</option>
												<option value="departements">Départements</option>
												<option value="regions">Régions</option>
												<option value="france">Tous le pays</option>
											</select>
										</div>
									</div>
									<input id="inputSearchPlace-mpc" oninput="addr_searchCity(this);checkToDisableLstOrNot(this, '#typeResearchSct-mpc')" type="text" class="inputSearchPlace form-control" placeholder="Veuillez indiquer la commune concernée *">
								</div>
								<input id="inputSearchPlace-mpcHidden" name="inputSearchPlace-mpcHidden" type="hidden" value="">
								<div class="listAutoCompleteToModal"></div>
								@* C'est ici que les villes qu'ils valident seront affichées *@
								<div id="placeSaved-mpc" class="placeSaved">
									<div id="place-mpc" class="place">
									</div>
								</div>
								<div id="div10-3-adresseLog-ca" class="flex col-sm-12 textInfoAdresse-ca">
									<div id="div10-4-adresseLog-ca" class="col-sm-2"></div>
									<i class="fas fa-info" id="iconPlace-ca"></i>
									<p class="fontFamilyNote col-sm-12" style="margin: auto;">
										Il vous est possible d'indiquer plusieurs lieux concernant votre projet de création d'éco-colocation
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="divEncadrer-mcar" id="divPhotoProjetCreation-mpc">
				<div class="encadrer-mcar col-sm-11 col-xs-12">
					<div class="col-sm-4 divLeftSideEncadrer-mcar divImgLogo-mcar">
						<div class="divImgLogoHorizontal-mcar">
							<div class="divImgLogoVertical-mcar">
								<i class="fas fa-camera-retro icon-ca"></i>
							</div>
						</div>
					</div>
					<div class="col-sm-8 divRightSideEncadrer-mcar">
						<p class="centerText" id="txtPhotoProjetCreation-mpc">Ajouter des photos pour illustrer votre projet de création d'éco-colocation</p>
						<div id="divGlobalBtnUplFile-mcar">
							<label id="btnUplFile-mpc" for="fileUploadMpc">Ajouter des photos</label>
							<input id="fileUploadMpc" type="file" name="filePicture-mpc" multiple="multiple">
						</div>
					</div>
				</div>
			</div>
			<div id="divGlobalResultFilesUpl-mcar">
				<div class="childFlex">
					<ul id="divResultFilesUpl-mcar" class="all-slides ui-sortable"></ul>
				</div>
			</div>
			<div id="div1-descInform-ca" class="col-sm-12" style="">
				<div id="div2-descInform-ca" class="col-sm-11 col-xs-12">
					<div class="div20-descInform-ca" id="tableTerrain-mpc">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<img src="/Content/Images/Logos/ground.png" class="icon-ca">
										</div>
										<p class="txtIcon-ca">TERRAIN</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td colspan="2">
												<div class="flex">
													<div class="flex childFlex">
														<label id="lblEnableOrNotTerrain-mpc">Voulez-vous parler du terrain ?</label>
														<p class="onoff">
															<input type="checkbox" value="0" id="enableTerrain-mpc">
															<label for="enableTerrain-mpc"></label>
														</p>
													</div>
												</div>
											</td>
											<td></td>
										</tr>
										<tr>
											<td class="col-xs-6">
												<label for="Tarif_loyer">Engagement *</label>
											</td>
											<td class="col-xs-6">
												<select id="select-engagementTypeTerrain-mpc" class="form-control ">
													<option value="1">Achat</option>
													<option value="2">Location</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Caution">Superficie maximum *</label></td>
											<td class="flex">
												<input id="superficieTerrain-mpc" type="number" class="inputtable-ca" placeholder="Superficie max" style="width: 150px;padding: 5px 8px;">
												<p class="centerText signInputPropose-ml">m²</p>
											</td>
										</tr>
										<tr id="rowAchatTerrain" class="rowByEngagement" style="display: table-row;">
											<td class="col-xs-6"><label for="Loyer">Cout de l'achat max *</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="coutAchatMoyTerrain-mpc" name="coutAchatMoyTerrain-mpc" type="number" min="0" class="inputtable-ca" placeholder="Cout d'achat max" style="width: 150px;padding: 5px 8px;">
													<p class="centerText signInputPropose-ml">€</p>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="div20-descInform-ca" id="tableLogement-mpc">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-home childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">LOGEMENT</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6">
												<label for="Tarif_loyer">Engagement *</label>
											</td>
											<td class="col-xs-6">
												<select id="select-engagementType-mpc" class="form-control ">
													<option value="1">Achat</option>
													<option value="2">Location</option>
													<option value="3">Construction</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Charges">Type d'habitat *</label></td>
											<td class="col-xs-6">
												<select id="select2-loyer-fh" class="form-control ">
													<option value="0">Tout type d'habitat</option>
													<option value="1">Maison</option>
													<option value="2">Appartement</option>
													<option value="3">Habitat insolite</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Caution">Implantation *</label></td>
											<td class="col-xs-6">
												<select id="select2-loyer-fh" class="form-control">
													<option value="0">Toutes implantations</option>
													<option value="2">Campagne</option>
													<option value="1">Ville/commune</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Caution">Superficie maximum *</label></td>
											<td class="flex">
												<input id="superficieLogement" type="number" class="inputtable-ca" placeholder="Superficie max" style="width: 150px;padding: 5px 8px;">
												<p class="centerText signInputPropose-ml">m²</p>
											</td>
										</tr>
										<tr id="rowCreation" class="rowByEngagement">
											<td class="col-xs-6"><label for="Loyer">Cout de construction maximum *</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="coutCreationMoy" name="coutCreationMoy" type="number" min="0" class="inputtable-ca" placeholder="Cout maximum" style="width: 150px;padding: 5px 8px;padding-right: 0;">
													<p class="centerText signInputPropose-ml">€</p>
												</div>
											</td>
										</tr>
										<tr id="rowAchat" class="rowByEngagement">
											<td class="col-xs-6"><label for="Loyer">Cout de l'achat maximum *</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="coutAchatMoyTerrain-mpc" name="coutAchatMoyTerrain-mpc" type="number" min="0" class="inputtable-ca" placeholder="Cout d'achat max" style="width: 150px;padding: 5px 8px;">
													<p class="centerText signInputPropose-ml">€</p>
												</div>
											</td>
										</tr>
										<tr id="rowLoyer" class="rowByEngagement">
											<td class="col-xs-6"><label for="Loyer">Loyer / personne maximum *</label></td>
											<td class="col-xs-6">
												<div id="div-2-1-1-loyer-fh">
													<div class="flex">
														<input id="loyerMoy" name="loyerMoy" type="number" min="0" class="inputtable-ca" placeholder="Loyer max" style="width: 150px;padding: 5px 10px;">
														<p class="centerText signInputPropose-ml">€</p>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="div20-descInform-ca">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca" style="width: 119px;margin: auto;">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-users childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">COLOCATION</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6">
												<label for="NbColocTotal">Nombre de personne au totale (en m'incluant si c'est le cas) *</label>
											</td>
											<td class="col-xs-6">
												<input id="NbColocTotal" name="NbColocTotal" type="number" min="0" class="inputtable-ca" style="width: 80px;">
											</td>
										</tr>
										<tr id="nbParticipantAchatTerrainResearch-mpc">
											<td class="col-xs-6"><label for="NbColocResearch">Nombre de personne recherché pour partager l'achat du terrain (en m'excluant) *</label></td>
											<td class="col-xs-6">
												<input id="NbColocResearch" name="NbColocResearch" type="number" min="0" class="inputtable-ca" style="width: 80px;">
											</td>
										</tr>
										<tr id="nbParticipantAchatLogementResearch-mpc">
											<td class="col-xs-6"><label for="NbColocResearch">Nombre de personne recherché pour partager l'achat du logement (en m'excluant) *</label></td>
											<td class="col-xs-6">
												<input id="NbColocResearch" name="NbColocResearch" type="number" min="0" class="inputtable-ca" style="width: 80px;">
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="NbColocResearch">Nombre de personne recherché pour louer le logement (en m'excluant) *</label></td>
											<td class="col-xs-6">
												<input id="NbColocResearch" name="NbColocResearch" type="number" min="0" class="inputtable-ca" style="width: 80px;">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="div20-descInform-ca">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca" style="width: 119px;">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-search-plus childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">ACCESSIBILITES</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6"><label>Transports en communs *</label></td>
											<td class="paddingTd">
												<div class="flex">
													<div>
														<div class="flex">
															<input type="radio" name="AccesTransport" class="inpAccesTransport-mcp" id="yesAccesTransports-mcp">
															<label for="yesAccesTransports-mcp">Oui</label>
														</div>
														<div class="flex">
															<input type="radio" name="AccesTransport" class="inpAccesTransport-mcp" id="noAccesTransports-mcp">
															<label for="noAccesTransports-mcp">Non</label>
														</div>
														<div class="flex">
															<input type="radio" name="AccesTransport" class="inpAccesTransport-mcp" id="maybeAccesTransports-mcp" checked="">
															<label for="maybeAccesTransports-mcp">Peut-importe</label>
														</div>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td><label id="lblDescSupAccessibilite-ml">Info supplémentaire</label></td>
											<td><textarea type="text" id="descSupAccessibilite-ml" maxlength="250"></textarea></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="div20-descInform-ca">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca" style="width: 119px;">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-clipboard-list childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">TOLERANCES</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6"><label>Consommateur d'alcool *</label></td>
											<td class="paddingTd">
												<p class="onoff">
													<input type="checkbox" value="1" id="alcool-cb">
													<label for="alcool-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Fumeur *</label></td>
											<td class="paddingTd">
												<p class="onoff">
													<input type="checkbox" value="1" id="fumeur-cb">
													<label for="fumeur-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Animaux *</label></td>
											<td class="paddingTd">
												<p class="onoff">
													<input type="checkbox" value="1" id="animaux-cb">
													<label for="animaux-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td><label id="lblDescSupTolerence-ml">Info supplémentaire</label></td>
											<td><textarea type="text" id="descSupTolerence-ml" maxlength="250"></textarea></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="divDesciptionInfo-mcap" class="flex col-sm-12">
				<div class="divEncadrer-mcar flex childFlex" id="underdivDesciptionInfo-mpc">
					<div class="encadrer-mcar col-sm-11 col-xs-12" id="divProfil-mpc">
						<div class="col-sm-4 col-xs-12 divImgLogo-mcar" id="divImgLogoProfil-mpc">
							<div class="divImgLogoHorizontal-mcar">
								<div class="divImgLogoVertical-mcar">
									<i class="far fa-id-badge childFlex icon-ca"></i>
								</div>
							</div>
						</div>
						<div class="col-sm-8 col-xs-12" id="divGlobalPresent-mcar">
							<div class="col-sm-12" id="divDesciptionInfo2-mcar">
								<label class="lbl-mcar" id="tktIntroduceProfil-mpc">Présentation de votre personnalité *</label>
								<textarea class="txtareaDesc-mcar input-mcar" id="txtareaPersoP-mcar" placeholder="Présentez-vous en quelque ligne..." style=""></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="divEncadrer-mcar" id="divPhotoUser-mpc">
			<div class="encadrer-mcar col-sm-11 col-xs-12">
				<div class="col-sm-4 divLeftSideEncadrer-mcar divImgLogo-mcar">
					<div class="divImgLogoHorizontal-mcar">
						<div class="divImgLogoVertical-mcar">
							<i class="fas fa-camera-retro icon-ca"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-8 divRightSideEncadrer-mcar">
					<div id="divGlobalMsgPhoto-mcar">
						<i class="fas fa-info" id="iconMsgPhoto-mcar"></i>
						<div>
							<p>Les profils accompagnées d'une photo sont 7 fois plus consultés que les autres.</p>
						</div>
					</div>
					<div id="divGlobalBtnUplFile-mcar">
						<label id="btnUplFile-mcar" for="file-upload">Ajouter une photo de vous</label>
						<input id="file-upload" type="file" name="filePicture-mcar" onchange="showfile('divResultFilesUpl2-mcar')">
					</div>
				</div>
			</div>
		</div>
		<div id="divGlobalResultFilesUpl-mcar">
			<div class="childFlex">
				<ul id="divResultFilesUpl2-mcar" class='all-slides'>
					@*Html généré par javascript dans la fonction showMultiplesFilesUpload()*@
				</ul>
			</div>
		</div>
		@if (User.Identity.IsAuthenticated)
		{
			<div id="divBtn-mpc" class="col-sm-12">
				<div id="div1Btn-mpc">
					<a href="#" id="txtBtn-mpc" class="btnGreen flex childFlex">Creer cette annonce</a>
				</div>
			</div>
		}
		else
		{
			<div id="partialView-ml">
				<div id="descTextAnnonceLocationDataPersonnal" class="flex col-sm-12 textInfoAdresse-ca">
					<div id="div10-4-adresseLog-ca" class="col-sm-2"></div>
					<i class="fas fa-info" id="iconPlace-ca"></i>
					<p class="fontFamilyNote col-sm-12" style="margin: auto;">
						Toutes ces données ne seront pas visibles publiquement, seulement votre prénom, votre âge et l'activité apparaîtra dans l'annonce.
					</p>
				</div>
				@Html.Partial("~/Views/Account/PersonalDataForm.cshtml")
				@if (ViewData["operation"] == null)
				{
					@Html.Partial("~/Views/Account/ButtonsCreateAccount.cshtml")
				}
				else if (ViewBag.Operation == "Subscribe")
				{
					@Html.Partial("~/Views/Account/PasswordDiv.cshtml")
					<div class="flex" id="divInscriptionButtons-mcar">
						<div class="childFlex btnGreen">Valider</div>
					</div>
				}
				else if (ViewBag.Operation == "update")
				{
					<div class="flex" id="divInscriptionButtons-mcar">
						<div class="childFlex btnGreen">Mettre à jour</div>
					</div>
				}
			</div>
		}
	</div>
	<div class="divCloseModal">
		<a href="#close-modal" rel="modal:close"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		//ModalProjetCreation. Can use enter button to valid one of location place
		$(document).on('keypress', '#inputSearchPlace-mpc', function (e) {
			var key = e.which;
			if (key == 13)  // the enter key code
			{
				addNewPlace("#inputSearchPlace-mpc");
			}
		});

		var operation = ("@ViewData["operation"]" != "") ? "&operation=true" : "";
		var researchType = ($("#researchType").val() != "") ? "&researchType=" + $("#researchType").val() : "";
		window.history.replaceState('data to be passed', 'Title of the page',
			'/Modal/AddUpd_ModalCreationProjectAd/?targetCity=' + "@ViewData["targetCity"]" + "&urlCurrentPage=" + $('#urlCurrentPage').val() + researchType + operation);

		triggerBtnOnOffOnTerain_mpc();
		initButtonOnOff();

		$('#descTextAnnonceLocationDataPersonnal').detach().prependTo('#extraElement-pdf');
		initAnnonceDescResult("#modalCreationProjet-ColocAnnounce")

		$(".textInfoIfAccountExist-pdf").fadeIn(0)

		showMultiplesFilesUpload("fileUploadMpc", "divResultFilesUpl-mcar");
		initSlidepicture()

		$(document).on('input', '#emailInp-pdf', function (e) {
			copyEmailToUserAuthentification("#emailInp-pdf", "#UserNameInpt-pd")
			copyEmailToUserAuthentification("#emailInp-pdf", "#emailInp-bca")
		});
	});
</script>

