
@{
	ViewBag.Title = "ModalProjetCreation";
}
<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreationProjet-ColocAnnounce" class="reelModal">
		<div style="margin-bottom: 30px;">
			@if (User.Identity.IsAuthenticated)
			{
				<h2 class="title centerText">Creer un projet de création</h2>
			}
			else
			{
				<h2 class="title centerText">Inscrivez-vous et partagez votre projet de création</h2>
			}
		</div>
		<div id="htmlBlockModalCreationProjet-mpc">
			<div id="div1-contenu-ca" class="col-sm-12">
				<div id="div1-1-contenu-ca" class="col-sm-11 col-xs-12">
					<div id="divDescAnn-ca" class="col-sm-12 col-xs-12">
						<div id="div1DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<label for="descRecherche-mpc">Introduction de votre annonce</label>
							</div>
						</div>
						<div id="div2DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<textarea id="descRecherche-mpc" name="descAnnonce"
										  placeholder="Ex: Création de plusieurs grandes yourtes cotes à cotes."></textarea>
							</div>
						</div>
					</div>
					<div class="childFlex overflow" id="infoChampsAnnonce-ml-mpc">
						<p class="centerText">ATTENTION : Votre texte apparaîtra en un seul bloc, merci de faire des phrases !</p>
					</div>
					<div id="divDescAnn-ca" class="col-sm-12 col-xs-12">
						<div id="div1DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<label for="descAnnonce-mpc">Description de votre projet</label>
							</div>
						</div>
						<div id="div2DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<textarea id="descAnnonce-mpc" name="descAnnonce" placeholder="Ce que vous proposez / recherchez ..."></textarea>
							</div>
						</div>
					</div>
					<div id="divDescAnn-ca" class="col-sm-12 col-xs-12">
						<div id="div1DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<label for="descPersonneRecherche-ml">Description de la personne(s) recherchée(s)</label>
							</div>
						</div>
						<div id="div2DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<textarea id="descPersonneRecherche-ml" name="descAnnonce" placeholder="Caractère, façon de vivre, niveau d'implication écologique, ..."></textarea>
							</div>
						</div>
					</div>
					<h2 class="col-xs-12 underTitle centerText" id="titleAboutColocation-ml">Ce que vous envisagez ...</h2>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="convivialite-mpc">Convivialité commune souhaitée</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="convivialite-mpc" name="descEcoPratique" placeholder="Activités/intérêts en communs, capacité d’accueil, ..."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="organisation-mpc">Organisation souhaitée</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="organisation-mpc" name="descEcoPratique" placeholder="Organisations des tâches, ressources financières, ..."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="descEcoPratique-mpc">Pratiques écologiques souhaitées</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="descEcoPratique-mpc" name="descEcoPratique" placeholder="Attitude, niveau d'investissement, ..."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="autresPrecisions-mpc">Autres précisions ... *</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="autresPrecisions-mpc" name="descEcoPratique"></textarea>
							</div>
						</div>
					</div>
					<div class="childFlex overflow" id="infoChampsAnnonce-ml-mpc">
						<p class="centerText">ATTENTION : Votre texte apparaîtra en un seul bloc, merci de faire des phrases !</p>
					</div>
				</div>
			</div>
			<div id="div-adresseLog-ca" class="col-sm-12" style="">
				<div id="div1-adresseLog-ca" class="col-sm-11 col-xs-12">
					<div style="width: 100%;">
						<div class="col-sm-4 div2-2-descInform-ca" style="padding: 0;">
							<div class="flex childFlex">
								<i class="fas fa-map-signs childFlex icon-ca" style="margin-top: 12px;"></i>
							</div>
						</div>
						<div id="div10-1-adresseLog-ca" class="col-sm-8 col-xs-12">
							<div id="div10-2-adresseLog-ca" style="position:relative">
								<input id="inputSearchPlace-mpc" oninput="addr_searchCity(this);" autocomplete="off" type="text" class="inputSearchPlace form-control" placeholder="Où recherchez-vous ?">
								<input id="inputSearchPlace-mpcHidden" name="inputSearchPlace-mpcHidden" type="hidden" value="">
								<div class="listAutoCompleteToModal"></div>
								@*<input oninput="addr_search('inputLocalisation-cpc','listAutoCompletePlace2');" list="listAutoCompletePlace2" autocomplete="off" type="text" class="inputAdresseLog-ca" id="inputLocalisation-cpc" style="padding: 5px 8px;padding-right: 65px;">*@
								@*<datalist id="listAutoCompletePlace2"></datalist>*@

								@* C'est ici que les villes qu'ils valident seront affichées *@
								<div id="placeSaved-mpc" class="placeSaved">
									<div id="place-mpc" class="place">
									</div>
								</div>

								@*<input type="search" id="address-input-mpc" class="address-input" placeholder="Localisation de l'endroit" onload="initAutoComplete('#address-input-mpc')" />*@
								@*@for (int i = 0; i < 4; i++)
									{
										@Html.Hidden("adresseVille", null, new { @class = "addresseVille" + i })
										@Html.Hidden("adresseRegion", null, new { @class = "adresseRegion" + i })
										@Html.Hidden("adressePays", null, new { @class = "adressePays" + i })
										@Html.Hidden("adresseLatLng", null, new { @class = "adresseLatLng" + i })
									}*@

								@*<input id="listAutoCompletePlace2Hidden" name="listAutoCompletePlace2Hidden" type="hidden" value="">*@
								<div id="div10-3-adresseLog-ca" class="flex col-sm-12 textInfoAdresse-ca">
									<div id="div10-4-adresseLog-ca" class="col-sm-2"></div>
									<i class="fas fa-info" id="iconPlace-ca"></i>
									<p class="fontFamilyNote col-sm-12" style="margin: auto;">
										Il vous est possible d'indiquer plusieurs lieux concernant votre projet de création d'éco-colocation
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="div1-descInform-ca" class="col-sm-12" style="">
				<div id="div2-descInform-ca" class="col-sm-11 col-xs-12">
					<div class="div20-descInform-ca" id="tableTerrain-mpc">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-home childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">TERRAIN</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6">
												<label for="Tarif_loyer">Engagement</label>
											</td>
											<td class="col-xs-6">
												<select id="select-engagementTypeTerrain-mpc" class="form-control ">
													<option value="1">Achat</option>
													<option value="2">Location</option>
												</select>
											</td>
										</tr>

										<tr>
											<td class="col-xs-6"><label for="Caution">Localisation</label></td>
											<td class="col-xs-6">
												<select id="select2-loyer-fh" class="form-control">
													<option value="0">Toutes localisations</option>
													<option value="1">Campagne</option>
													<option value="2">Ville/village</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Caution">Surface</label></td>
											<td>
												<select id="select2-loyer-fh" class="form-control">
													@for (var i = 100; i < 501; i++)
													{
														<option value=@i>@i m² ou plus</option>
														i += 99;
													}
													@for (var i = 1000; i < 10000; i++)
													{
														<option value=@i>@i m² ou plus</option>
														i += 999;
													}
													@for (var i = 0; i < 101; i++)
													{
														if (i == 0)
														{
															<option value=@i>1 ha ou plus</option>
														}
														else if (i == 100)
														{
															<option value=@i>@i ha ou plu</option>
														}
														else
														{
															<option value=@i>@i ha ou plu</option>
														}

														i += 9;
													}
												</select>
											</td>
										</tr>
										<tr id="rowAchatTerrain" class="rowByEngagement" style="display: table-row;">
											<td class="col-xs-6"><label for="Loyer">Cout de l'achat moyen</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="coutAchatMoy" name="coutAchatMoy" type="number" class="inputtable-ca" placeholder="Cout d'achat moyen" style="width: 150px;padding: 5px 8px;">
													<p class="centerText signInputPropose-ml">€</p>
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Accès aux transports en communs</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<div class="flex">
													<div>
														<div class="flex">
															<input type="radio" name="AccesTransport" class="inpAccesTransport-mcp" id="yesAccesTransports-mcp">
															<label for="yesAccesTransports-mcp">Oui</label>
														</div>
														<div class="flex">
															<input type="radio" name="AccesTransport" class="inpAccesTransport-mcp" id="noAccesTransports-mcp">
															<label for="noAccesTransports-mcp">Non</label>
														</div>
														<div class="flex">
															<input type="radio" name="AccesTransport" class="inpAccesTransport-mcp" id="maybeAccesTransports-mcp" checked="">
															<label for="maybeAccesTransports-mcp">Peut-importe</label>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="div20-descInform-ca" id="tableLogement-mpc">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-home childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">LOGEMENT</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6">
												<label for="Tarif_loyer">Engagement</label>
											</td>
											<td class="col-xs-6">
												<select id="select-engagementType-mpc" class="form-control ">
													<option value="1">Achat</option>
													<option value="2">Location</option>
													<option value="3">Construction</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Charges">Type d'habitat</label></td>
											<td class="col-xs-6">
												<select id="select2-loyer-fh" class="form-control ">
													<option value="0">Tout type d'habitat</option>
													<option value="1">Maison</option>
													<option value="2">Appartement</option>
													<option value="3">Habitat léger</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Caution">Localisation</label></td>
											<td class="col-xs-6">
												<select id="select2-loyer-fh" class="form-control">
													<option value="0">Toutes localisations</option>
													<option value="1">Campagne</option>
													<option value="2">Ville/village</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Caution">Surface du logement</label></td>
											<td>
												<select id="select2-loyer-fh" class="form-control">
													<option value="0">Toutes surfaces</option>
													@for (var i = 20; i < 110; i++)
													{
														<option value=@i>~ @i m²</option>
														i += 9;
													}
													@for (var i = 125; i < 550; i++)
													{
														<option value=@i>~ @i m²</option>
														i += 24;
													}
												</select>
											</td>
										</tr>
										<tr id="rowCreation" class="rowByEngagement">
											<td class="col-xs-6"><label for="Loyer">Cout de création</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="coutCreationMoy" name="coutCreationMoy" type="number" class="inputtable-ca" placeholder="Cout de création moyen" style="width: 150px;padding: 5px 8px;padding-right: 0;">
													<p class="centerText signInputPropose-ml">€</p>
												</div>
											</td>
										</tr>
										<tr id="rowAchat" class="rowByEngagement">
											<td class="col-xs-6"><label for="Loyer">Cout de l'achat</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="coutAchatMoy" name="coutAchatMoy" type="number" class="inputtable-ca" placeholder="Cout d'achat moyen" style="width: 150px;padding: 5px 8px;">
													<p class="centerText signInputPropose-ml">€</p>
												</div>
											</td>
										</tr>
										<tr id="rowLoyer" class="rowByEngagement">
											<td class="col-xs-6"><label for="Loyer">Loyer / personne</label></td>
											<td class="col-xs-6">
												<div id="div-2-1-1-loyer-fh">
													<div class="flex">
														<input id="loyerMoy" name="loyerMoy" type="number" class="inputtable-ca" placeholder="Loyer moyen" style="width: 150px;padding: 5px 10px;">
														<p class="centerText signInputPropose-ml">€</p>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6">
												<label>Accessibilité handicapé</label>
											</td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="accesHandicap-cb">
													<label for="accesHandicap-cb"></label>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="div20-descInform-ca">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca" style="width: 119px;">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-users childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">COLOCATION</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6">
												<label for="NbColocTotal">Nombre de personne au total (m'incluant)</label>
											</td>
											<td class="col-xs-6">
												<input id="NbColocTotal" name="NbColocTotal" type="number" class="inputtable-ca" style="width: 80px;">
											</td>
										</tr>
										<tr id="nbParticipantAchatTerrainResearch-mpc">
											<td class="col-xs-6"><label for="NbColocResearch">Nombre de participant recherché à l'achat du terrain</label></td>
											<td class="col-xs-6">
												<input id="NbColocResearch" name="NbColocResearch" type="number" class="inputtable-ca" style="width: 80px;">
											</td>
										</tr>
										<tr id="nbParticipantAchatLogementResearch-mpc">
											<td class="col-xs-6"><label for="NbColocResearch">Nombre de participant recherché à l'achat du logement</label></td>
											<td class="col-xs-6">
												<input id="NbColocResearch" name="NbColocResearch" type="number" class="inputtable-ca" style="width: 80px;">
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="NbColocResearch">Nombre de colocataire simple recherchés</label></td>
											<td class="col-xs-6">
												<input id="NbColocResearch" name="NbColocResearch" type="number" class="inputtable-ca" style="width: 80px;">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="div20-descInform-ca">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca" style="width: 119px;">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-clipboard-list childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">TOLERANCES</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6"><label>Consommateur d'alcool</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="alcool-cb">
													<label for="alcool-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Fumeur</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="fumeur-cb">
													<label for="fumeur-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Animaux</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="animaux-cb">
													<label for="animaux-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td><label id="lblDescSupTolerence-ml">Info supplémentaire</label></td>
											<td><textarea type="text" id="descSupTolerence-ml"></textarea></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="divDesciptionInfo-mcap" class="col-sm-12">
				<div class="divEncadrer-mcar" id="divDesciptionInfo-mcar">
					<div class="encadrer-mcar col-sm-11 col-xs-12" id="divProfil-mpc">
						<p class="col-xs-12 centerText fontFamilyNote" id="titleInstrucePerson-mcap">Completer mon profil lié a ce compte</p>
						<div class="col-sm-4 col-xs-12 divImgLogo-mcar" id="divImgLogoProfil-mpc">
							<div class="divImgLogoHorizontal-mcar">
								<div class="divImgLogoVertical-mcar">
									<i class="far fa-id-badge childFlex icon-ca"></i>
								</div>
							</div>
						</div>
						<div class="col-sm-8 col-xs-12" id="divGlobalPresent-mcar">
							<div class="col-sm-12" id="divDesciptionInfo2-mcar">
								<label class="lbl-mcar" id="tktIntroduceProfil-mpc">Présentation de votre personnalité</label>
								<textarea class="txtareaDesc-mcar input-mcar" id="txtareaPersoP-mcar" placeholder="Présentez-vous en quelque ligne..." style=""></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		@if (User.Identity.IsAuthenticated)
		{
			<div id="divBtn-mpc" class="col-sm-12">
				<div id="div1Btn-mpc">
					<a href="#" id="txtBtn-mpc" class="btnGreen flex childFlex">Creer cette annonce</a>
				</div>
			</div>
		}
		else
		{
			<div id="partialView-ml">
				@Html.Partial("~/Views/Account/PersonalDataForm.cshtml")
				@Html.Partial("~/Views/Account/ButtonsCreateAccount.cshtml")
			</div>
		}
	</div>
	<div class="divCloseModal">
		<a href="#close-modal" rel="modal:close"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		//ModalProjetCreation. Can use enter button to valid one of location place
		$(document).on('keypress', '#inputSearchPlace-mpc', function (e) {
			var key = e.which;
			if (key == 13)  // the enter key code
			{
				addNewPlace("#inputSearchPlace-mpc");
			}
		});

		window.history.replaceState('data to be passed', 'Title of the page',
			'/Modal/ModalProjetCreation_ColocAnnounce/?targetCity=' + "@ViewData["targetCity"]" + "&urlCurrentPage=" + $('#urlCurrentPage').val());

		initButtonOnOff();
	});
</script>