
@{
	/**/

	ViewBag.Title = "ModalLocation";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="modalLocation-ColocAnnounce" class="reelModal">
		<div id="div-title-ca">
			@if (User.Identity.IsAuthenticated)
			{
				<h2 class="title">Création d'une annonce de location</h2>
			}
			else
			{
				<h2 class="title">Créez votre annonce de location en vous inscrivant</h2>
			}
		</div>
		<div id="htmlBlockModalLocation-ml">
			<div id="div1-contenu-ca" class="col-sm-12">
				<div id="div1-1-contenu-ca" class="col-sm-11 col-xs-12">
					<div id="divDescAnn-ca" class="col-sm-12 col-xs-12">
						<div id="div1DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<label for="descRecherche-ml">Introduction de votre annonce</label>
							</div>
						</div>
						<div id="div2DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<textarea id="descRecherche-ml" name="descAnnonce"
										  placeholder="Ex: Deux chambres meublées de 10 m² se libères dans notre maison de 120m²." maxlength="100"></textarea>
							</div>
						</div>
					</div>
					<div class="childFlex overflow" id="infoChampsAnnonce-ml-mpc">
						<p class="centerText">ATTENTION : Votre texte apparaîtra en un seul bloc, merci de faire des phrases !</p>
					</div>
					<div id="divDescAnn-ca" class="col-sm-12 col-xs-12">
						<div id="div1DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<label for="descPersonneRecherche-ml">Description de la personne(s) recherchée(s)</label>
							</div>
						</div>
						<div id="div2DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<textarea id="descPersonneRecherche-ml" name="descAnnonce" placeholder="Caractère, façon de vivre, niveau d'implication écologique, ..."></textarea>
							</div>
						</div>
					</div>
					<div id="divDescAnn-ca" class="col-sm-12 col-xs-12">
						<div id="div1DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<label for="descChambrePropose-ml">Description de la chambre(s) proposée(s)</label>
							</div>
						</div>
						<div id="div2DescAnn-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1DescAnn-ca" class="col-sm-12 col-xs-12">
								<textarea id="descChambrePropose-ml" name="descAnnonce" placeholder="Isolation sonore et thermique, luminosité, ..."></textarea>
							</div>
						</div>
					</div>
					<h3 class="col-xs-12 underTitle centerText" id="titleAboutColocation-ml">Concernant votre collocation</h3>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="presentationLogement-ml">Présentation du logement et du terrain </label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="presentationLogement-ml" name="descEcoPratique" placeholder="Avantage et inconvénient du logement et de sa localisation..."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="personnesPresentes-ml">Présentation des personnes / animaux présents</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="personnesPresentes-ml" name="descEcoPratique" placeholder="Caractère / façon de vivre, ..."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="convivialite-ml">Présentation de la convivialité commune</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="convivialite-ml" name="descEcoPratique" placeholder="Activités/intérêts en communs, capacité d’accueil, ..."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="organisation-ml">Présentation de l’organisation</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="organisation-ml" name="descEcoPratique" placeholder="Organisations des tâches, ressources financières, ..."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="Pratiques__cologiques_exerc_es_par_la_colocation">Présentation des pratiques écologiques</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="descEcoPratique" name="descEcoPratique" placeholder="Celles que vous réalisez / que vous envisagez ..."></textarea>
							</div>
						</div>
					</div>
					<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
						<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<label for="autresPrecisions-ml">Autres précisions ...</label>
							</div>
						</div>
						<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
							<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
								<textarea id="autresPrecisions-ml" name="descEcoPratique"></textarea>
							</div>
						</div>
					</div>
					<div class="childFlex overflow" id="infoChampsAnnonce-ml-mpc">
						<p class="centerText">ATTENTION : Votre texte apparaîtra en un seul bloc, merci de faire des phrases !</p>
					</div>
				</div>
			</div>
			<div id="div-adresseLog-ca" class="col-sm-12">
				<div id="div1-adresseLog-ca" class="col-sm-11 col-xs-12">
					<div style="width: 100%;">
						<div class="col-sm-4 div2-2-descInform-ca" style="padding: 0;">
							<div class="flex childFlex">
								<i class="fas fa-map-signs childFlex icon-ca" style="margin-top: 12px;"></i>
							</div>
						</div>
						<div id="div10-1-adresseLog-ca" class="col-sm-8 col-xs-12">
							<div id="div10-2-adresseLog-ca">
								@*<input id="inputAddresseMap-ML" type="text" oninput="addr_search('inputAddresseMap-ML','listAutoCompletePlaceML');" list="listAutoCompletePlaceML" autocomplete="off" class="inputAdresseLog-ca">
									<datalist id="listAutoCompletePlaceML"></datalist>*@
								@*<input type="search" id="address-input-ml" class="address-input"
									placeholder="Localisation de l'endroit" />*@
								<input id="inputSearchPlace-ml" oninput="addr_searchStreet(this);" autocomplete="off" type="text" class="inputSearchPlace form-control" placeholder="Entrez l'adresse de votre colocation">
								<div class="listAutoCompleteToModal"></div>
								@*@for (int i = 0; i < 4; i++)
									{
										@Html.Hidden("adresseVille", null, new { @class = "addresseVille" + i })
										@Html.Hidden("adresseRegion", null, new { @class = "adresseRegion" + i })
										@Html.Hidden("adressePays", null, new { @class = "adressePays" + i })
										@Html.Hidden("adresseLatLng", null, new { @class = "adresseLatLng" + i })
									}*@
								<div id="div10-3-adresseLog-ca" class="flex col-sm-12 textInfoAdresse-ca">
									<div id="div10-4-adresseLog-ca" class="col-sm-2"></div>
									<i class="fas fa-info" id="iconPlace-ca"></i>
									<p class="fontFamilyNote col-sm-12" style="margin: auto;">
										Votre logement apparaîtra sur la carte à cette adresse. Aucun numéro de ruelle n'est à préciser.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flex col-xs-12" id="divGlobalNbChambre-ml" flex="">
				<div class="flex childFlex" id="divNbChambres-ml">
					<p for="nbChambre-ml" id="lbNbChambre-ml">Nombre de chambre disponible</p>
					<input id="nbChambre-ml" type="number" min="1" value="1" class="inputtable-ca" oninput="modifyNbChambreDisponible(this, '.divGlobalChambre-ml')">
					<input type="hidden" id="msgJqueryNbChambre-ml" value="0" />
				</div>
			</div>
			<div id="div1-descInform-ca" class="col-sm-12">
				<div id="div2-descInform-ca" class="col-sm-11 col-xs-12">
					<div class="div20-descInform-ca divGlobalChambre-ml">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-bed childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca" id="titleChambre-ml">CHAMBRE 1</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6">
												<label for="Loyer">Loyer (sans charges)</label>
											</td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="Loyer" name="Loyer" type="number" value="" class="inputtable-ca" min="0">
													<p class="centerText signInputPropose-ml">€</p>
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Charges">Charges</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="Charges" name="Charges" type="number" value="" class="inputtable-ca" min="0">
													<p class="centerText signInputPropose-ml">€</p>
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="ChargesDesc">Détail des charges</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<textarea id="ChargesDesc" name="Charges" type="text" value="" class="inputtable-ca"></textarea>
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Caution">Caution</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="Caution" name="Caution" type="number" value="" class="inputtable-ca" min="0">
													<p class="centerText signInputPropose-ml">€</p>
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Superficie">Superficie</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="Superficie" name="Superficie" type="number" value="" class="inputtable-ca" min="0">
													<p class="centerText signInputPropose-ml">m²</p>
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Meublée</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="meuble-cb">
													<label for="meuble-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Disponibilite">Disponibilité</label></td>
											<td class="col-xs-6">
												<input id="Disponibilite" name="Disponibilite" type="date" class="inputtable-ca inputtableDate-ca">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="div20-descInform-ca">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-home childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">LOGEMENT</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6"><label for="Type">Type</label></td>
											<td class="col-xs-6">
												<select class="form-control" id="Type">
													<option value="1">Habitat léger</option>
													<option value="2">Appartement</option>
													<option value="2">Maison</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Implantation">Implantation</label></td>
											<td class="col-xs-6">
												<select class="form-control" id="Implantation">
													<option value="1">Campagne</option>
													<option value="2">Ville/village</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="Superficie">Superficie</label></td>
											<td class="col-xs-6">
												<div class="flex">
													<input id="Superficie" name="Superficie" type="number" class="inputtable-ca" min="0">
													<p class="centerText signInputPropose-ml">m²</p>
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="nbPieceLogement">Nombre de pièce</label></td>
											<td class="col-xs-6">
												<input id="nbPieceLogement" name="nbPieceLogement" type="number" class="inputtable-ca" min="0">
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="ColocationresRestants">Nombre de coloc restant</label></td>
											<td class="col-xs-6">
												<input id="ColocationresRestants" name="ColocationresPresents" type="number" min="0" class="inputtable-ca">
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label for="ColocationresMax">Nombre de colocs max</label></td>
											<td class="col-xs-6">
												<input id="ColocationresMax" name="ColocationresMax" type="number" min="0" class="inputtable-ca">
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Accès aux transports en communs</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="accesEcolo-cb">
													<label for="accesEcolo-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6">
												<label>Accessibilité handicapé</label>
											</td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="accesHandicap-cb">
													<label for="accesHandicap-cb"></label>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="div20-descInform-ca">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca" style="width: 119px;">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-clipboard-list childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">TOLERANCES</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6"><label>Consommateur d'alcool</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="alcool-cb">
													<label for="alcool-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Fumeur</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="fumeur-cb">
													<label for="fumeur-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Animaux</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="1" id="animaux-cb">
													<label for="animaux-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td><label id="lblDescSupTolerence-ml">Info supplémentaire</label></td>
											<td><textarea type="text" id="descSupTolerence-ml"></textarea></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<h2 class="title centerText" id="titleInfoPerso-ml">Informations Personnelles</h2>
					<p class="underTitle centerText" id="underTitleInfoPerson-ml">(Uniquement si vous n'avez pas encore creé votre compte)</p>
					<div class="div20-descInform-ca">
						<div class="div2-1-descInform-ca">
							<div class="col-sm-4 div2-2-descInform-ca">
								<div class="div2-3-descInform-ca" style="width: 60px;">
									<div class="div2-4-descInform-ca">
										<div class="flex">
											<i class="fas fa-user-tag childFlex icon-ca"></i>
										</div>
										<p class="txtIcon-ca">Agence</p>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td class="col-xs-6"><label>Êtes-vous une agence ?</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<p class="onoff">
													<input type="checkbox" value="0" id="agence-cb">
													<label for="agence-cb"></label>
												</p>
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Nom de l'agence</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<input id="nomAgence-mlca" name="nomAgence" type="text" value="" class="inputtable-ca">
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Numéro de siret</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<input id="numSiret-mlca" name="SiretNumber" type="text" value="" class="inputtable-ca">
											</td>
										</tr>
										<tr>
											<td class="col-xs-6"><label>Frais d'agence</label></td>
											<td style="padding: 0;padding-top: 4px;padding-left: 8px;">
												<input id="fraisAgence-mlca" name="fraisAgence" type="number" min="0" value="" class="inputtable-ca">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		@if (User.Identity.IsAuthenticated)
		{
			<div id="divBtn-ca" class="col-sm-12">
				<div id="div1Btn-ca" class="btnGreen">
					<p>Creer cette annonce</p>
				</div>
			</div>
		}
		else
		{
			<div id="partialView-ml">
				<div id="descTextAnnonceLocationDataPersonnal" class="flex col-sm-12 textInfoAdresse-ca">
					<div id="div10-4-adresseLog-ca" class="col-sm-2"></div>
					<i class="fas fa-info" id="iconPlace-ca"></i>
					<p class="fontFamilyNote col-sm-12" style="margin: auto;">
						Toutes ces données ne seront pas visibles publiquement, seulement votre prénom, votre âge et l'activité apparaîtra dans l'annonce.
					</p>
				</div>
				@Html.Partial("~/Views/Account/PersonalDataForm.cshtml")
				@Html.Partial("~/Views/Account/ButtonsCreateAccount.cshtml")
			</div>
		}
	</div>
	<div class="divCloseModal">
		<a href="#close-modal" rel="modal:close" onclick="autoCompletePrepend()"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>

<script language="text/javascript">
	$(document).ready(function () {
		window.history.replaceState('data to be passed', 'Title of the page',
			'/Modal/ModalLocation_ColocAnnounce/?targetCity=' + "@ViewData["targetCity"]" + "&urlCurrentPage=" + $('#urlCurrentPage').val());

		loadAccountConnexionToFinishOperation();
		initButtonOnOff()
		disableStatutAndAddTriggerOnAgence();
		$('#descTextAnnonceLocationDataPersonnal').detach().prependTo('#extraElement-pdf');
	});
</script>