<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Html.Hidden("urlCurrentPage", (object)ViewBag.urlCurrentPage)
	@Html.Hidden("currentTab", (object)ViewBag.CurrentTab)
	@Html.Hidden("researchType", (object)ViewBag.researchType)
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/modernizr")
	@*@Styles.Render("~/Scripts/css/leaflet")*@
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
	@Scripts.Render("~/Scripts/jquerymodal")
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	@Scripts.Render("~/bundles/jquery") @* Répétition double volontaire - Sinon le modal ne fonction pas *@
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script type="text/javascript" src="https://vicopo.selfbuild.fr/api.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.3"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	@Scripts.Render("~/Scripts/markercluster-1.4.1")
	@Styles.Render("~/Scripts/css/markercluster-1.4.1")

	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
</head>
<body>
	<div id="global">
		<header>
			<div>
				@Html.Partial("_NavPartial")
			</div>
		</header>
		<div id="_PictureHeader">
			@Html.Partial("_PictureHeader")
		</div>
		<main>
			@RenderBody()
			@Html.Partial("~/Views/ContactUs/BulleConversation.cshtml")
		</main>

		<footer>
			@Html.Partial("_FooterPartial")
		</footer>
	</div>

	@Scripts.Render("~/Scripts/parallax")
	@*@Scripts.Render("~/Scripts/waypoints")*@
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/Script")
	@RenderSection("scripts", required: false)
</body>
</html>

<script language="javascript">
	$(document).ready(function () {
		var currentTab = "@ViewData["currentTab"]"
		if (currentTab != null && currentTab.length != 0) {
			if (currentTab == "ProjetCreation") {
				projetCreationPage()
			}
			else {
				annonceLocationPage()
			}
		}
		
		// Si idModalToTrigger n'est pas vide c'est que l'utilisateur à saisi l'url d'un modal et qu'il faut déclancher le click de l'element.
		var idModalToTrigger = "@TempData["idModalToTrigger"]";
		if (idModalToTrigger.length != 0 && $(idModalToTrigger).length != 0) {
			//Simule l'appel au modal qui est en lien avec l'url saisi
			$(idModalToTrigger)[0].click();
		}

		inputNumber();
		integerNumber();
	});
</script>