@{
	ViewBag.Title = "_NavPartial";
}

<nav id="navBarMenu" class="navbar navbar-default navbar-fixed-top navbar-shrink">
	<div class="menubar">
		<div class="container">
			<div id="logo">
				<a class="logo" href="@Url.Action("Index","Home", null)">
					<img class="fixed-logo lazyloading" src="/Content/Images/Icons/logoEcoColoc.png" width="140" alt="Eco-Colocation" data-was-processed="true">
				</a>
			</div>
			<div class="navbar-header page-scroll">
				<button id="btnNavBar" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button><div class="mobile-cart"></div>
			</div>
			<div id="main-menu" class="collapse navbar-collapse  navbar-right">
				<ul id="menu-main_menu" class="nav navbar-nav">
					<li class="menu-item menu-item-type-post_type menu-item-object-page">
						<a class="nav-link" id="ecoColocExistTab-np" title="Les éco-colocation existantes" href="/#title-ereom">Les éco-colocation existantes</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page">
						<a class="nav-link" id="evenementTab-np" title="Les évènements" href="">Les évènements</a>
					</li>
					@if (!User.Identity.IsAuthenticated)
					{
						<li class="menu-item menu-item-type-post_type menu-item-object-page">
							<a id="modalConnectionLink" class="nav-link" title="Se connecter"
							   href="@Url.Action("ModalAccount", "Account", null)" rel="modal:open">Se connecter</a>
						</li>
					}
					@if (!User.Identity.IsAuthenticated)
					{
						<li class="menu-item menu-item-type-post_type menu-item-object-page">
							<a id="modalInscriptionLink" class="nav-link" title="Inscription"
							   href="@Url.Action("ModalCreateAccount", "Account", null)" rel="modal:open">Inscription</a>
						</li>
					}
					<li class="menu-item menu-item-type-post_type menu-item-object-page">
						<a class="nav-link" title="Nous contacter" href="">Nous contacter</a>
					</li>
					@if (User.Identity.IsAuthenticated)
					{
						<li class="menu-item menu-item-type-post_type menu-item-object-page" id="liProfil-nb">
							<i class="fas fa-user-circle" id="pictureProfil-nb"></i>
							<div id="sousDivProfil">
								<a href="@Url.Action("AnnouncementsAndProjects", "Profil", null)" class="linkProfil-nb">Mes annonces et mes projets</a>
								<a href="@Url.Action("Deconnection", "Account", null)" class="linkProfil-nb">Se déconnecter</a>
							</div>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</nav>
