@{
	ViewBag.Title = "ModalProjetCreation";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreationProjet-SearchColoc" class="reelModal">
		<div id="divMessage-ml">
			<img onclick="displayPVMessage()" src="https://img.icons8.com/material-outlined/40/000000/circled-chevron-left.png">
			<div class="col-sm-6 col-xs-12" style="padding:0">
				@Html.Partial("~/Views/ContactUs/PartialViewMessage.cshtml")
			</div>
		</div>
		<div id="divPhoto-ml">
			<div id="div-photos-mpc" class="col-sm-6 col-xs-12">
				<div class="photo-mpc mySlides" style="background: url(https://d2v8xh2t491lqq.cloudfront.net/photos/listings/b/5/d/e/d/b5dedf6aedec903908e57c2b0877ac34cacf3227-biggest.jpg) 50% 50% no-repeat;"></div>
				<div class="photo-mpc mySlides" style="background: url(https://www.century21-ci-etampes.com/imagesBien/202/3238/c21_202_3238_13298_1_BC5D7902-0D5B-4309-B442-1150B2E3CDE2.jpg) 50% 50% no-repeat;"></div>
				<div class="photo-mpc mySlides" style="background: url(https://tel.img.pmdstatic.net/fit/http.3A.2F.2Fwww.2Eprogramme.2Etv.2Fupload.2Fepgs.2F2018.2F01.2Ftiny-house-mini-maison-a-emporter_123388556_2.2Ejpg/355x272/quality/80/tiny-house-mini-maison-a-emporter.jpg) 50% 50% no-repeat;"></div>
				<div id="d1-btnphoto-mpc">
					<div id="d1-2-btnphoto-mpc" onclick="plusDivs(-1)">
						<img src="/Content/Images/Icons/arrow-left.png">
					</div>
				</div>
				<div id="d2-btnphoto-mpc">
					<div id="d2-1-btnphoto-mpc" onclick="plusDivs(+1)">
						<img src="/Content/Images/Icons/arrow-right.png">
					</div>
				</div>
			</div>
		</div>
		<div id="div-description-mpc" class="col-sm-6 col-xs-12 fontFamilyNote">
			<div id="d1-description-mpc">
				<div id="d1-description-mpc" style="display: flex;">
					<div style="margin-left: auto;margin-right: auto;display: flex;">
						<div id="d1-2-description-mpc" class="col-sm-5 col-xs-5" style="margin-left: auto;margin-right:auto">
							<div id="d1-2-1-description-mpc" style="background: url(/Content/Images/Personnes/Profil1.jpg) 50% 50% no-repeat;"></div>
						</div>
						<div id="d1-3-description-mpc" class="col-sm-7 col-xs-7" style="margin-left: auto;margin-right: auto;">
							<h4>Matias</h4>
							<p>22 ans, Indépendent</p>
							<p id="p-d1-3-description-mpc">Posté il y a 3 jours</p>
						</div>
					</div>
				</div>
				<div id="div1PersonnalitePC" class="col-sm-12">
					<div id="div2PersonnalitePC" style="width: initial;">
						<p style="text-align: center;">Etudiant dans les soins énergétiques. J'ai un tempérament calme et à la fois très sociable.</p>
					</div>
				</div>
			</div>
			<div id="d3-description-mpc">
				@if (User.Identity.IsAuthenticated)
				{
					<div class="d3-1-description-mpc btnGreen" onclick="displayPhoneNumber('#numberPhone-mpc'/*Passer id client*/)">
						<i class="fas fa-phone imgBtnContact-mpc"></i>
						<span id="libelleTelephone-mpc">Afficher le numéro</span>
						<span id="numberPhone-mpc"></span>
					</div>
				}
				else
				{
					<a class="d3-1-description-mpc btnGreen" href="@Url.Action("ModalAccount", "Account", null)" rel="modal:open">
						<i class="fas fa-phone imgBtnContact-mpc"></i>
						<span id="libelleTelephone-mpc">Afficher le numéro</span>
						<span id="numberPhone-mpc"></span>
					</a>
				}
				@if (User.Identity.IsAuthenticated)
				{
					<div id="d3-2-description-mpc" onclick="displayPVMessage();$('#modalLocation').scrollTop(0);" class="btnGreen">
						<i class="far fa-envelope imgBtnContact-mpc"></i>Envoyer un message
					</div>
				}
				else
				{
					<a id="d3-2-description-mpc" href="@Url.Action("ModalAccount", "Account", null)" rel="modal:open" class="btnGreen">
						<i class="far fa-envelope imgBtnContact-mpc"></i>Envoyer un message
					</a>
				}
			</div>
			<div id="d4-description-mpc">
				<div class="flex">
					<h4 class="centerText childFlex" id="instroductionTitleAnnonce-mpc">Auto-construction d'un éco-habitat pour y vivre en eco-colocation. </h4>
				</div>
				<p id="textAnnonce-mpc">
					Bonjour, j'ai dernièrement acheté un terrain, 
					je souhaiterai trouver des personnes qui veulent se lancer dans l'aventure de vivre dans un eco-habitat à
					5 colocataires. L'objectif est qu'on puisse tous ensemble être acheteur du terrain et des matériaux pour
					auto-construire. Je recherche donc 4 autres personnes qui s'investirai dans le projet d'auto-construction.
					Au niveau de la convivialité commune j'aimerai qu'on puisse tous ensemble partager des repas et pourquoi pas
					des soirées ensemble. Au niveau de la gestion des taches et des ressoruces financières je n'ai pas encore
					réflechi à l'organisation mais je pense qu'il sera important d'y réflechir tous ensemble. Concernant les
					pratiques écologiques il y aura un grand potager et puis je souhaiterai qu'on tendent vers du
					zéro déchet.
				</p>
			</div>
			<div id="d5-description-mpc">

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">Villes concernées</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Rennes 35, Ille-et-Vilaine, Bretagne</td>

						</tr>
						<tr>
							<td>Nouvoitou 35, Ille-et-Vilaine, Bretagne</td>

						</tr>
						<tr>
							<td>Vern-sur-Seiche 35, Ille-et-Vilaine, Bretagne</td>

						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">TERRAIN</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Engagement</td>
							<td>Achat</td>
						</tr>
						<tr>
							<td>Superficie maximum</td>
							<td>2 ha² ou plus</td>
						</tr>
						<tr>
							<td>Cout de l'achat maximum</td>
							<td>30 000 euros</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">LOGEMENT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Engagement</td>
							<td>Création</td>
						</tr>
						<tr>
							<td>Type d'habitat</td>
							<td>Eco-habitat</td>
						</tr>
						<tr>
							<td>Localisation</td>
							<td>Campagne</td>
						</tr>
						<tr>
							<td>Superficie maximum</td>
							<td>~ 400 m²</td>
						</tr>
						@* Selon l'engagement *@
						<tr>
							<td>Cout de création maximum</td>
							<td>~ 15 000 euros</td>
						</tr>
						<tr>
							<td>Cout de l'achat maximun</td>
							<td>Aucun</td>
						</tr>
						<tr>
							<td>Loyer / personne maximun</td>
							<td>Aucun</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">COLOCATION</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nombre de personne au totale</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Personnes recherchées pour partager l'achat du terrain</td>
							<td>4</td>
						</tr>

						<tr>
							<td>Personnes recherchées pour partager l'achat du logement</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Personnes recherchées pour louer le logement</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">ACCESSIBILITES</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Transport en communs</td>
							<td>Oui</td>
						</tr>
						<tr>
							<td>Info supplémentaire</td>
							<td>J'aimerai que les transports en communs soient au moins accessibles à quelque minutes en vélo.</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">TOLERANCES</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Consommateur d'alcool</td>
							<td>Oui</td>
						</tr>
						<tr>
							<td>Fumeur</td>
							<td>Oui</td>
						</tr>
						<tr>
							<td>Animaux</td>
							<td>Oui</td>
						</tr>
						<tr>
							<td>Info supplémentaire</td>
							<td>Ne pas fumer à l'interieur</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">ANNONCE</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Date de publication</td>
							<td>16/02/2019 à 20h00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="divCloseModal">
		<a href="#close-modal" rel="modal:close"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>

<script language="javascript">
	$(document).ready(function () {
		window.history.replaceState('data to be passed', 'Title of the page',
			'/Modal/ModalProjetCreation/?targetCity=' + "@ViewData["targetCity"]" + "&idModal=" + @ViewData["IdModal"]  + "&urlCurrentPage=" + $('#urlCurrentPage').val());
	});
</script>