@model  Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.Title = "RubriqueAd";
	ViewBag.researchType = ViewData["researchType"];
	ViewBag.urlCurrentPage = "/Home/CommonAd";
}

<div id="searchColoc">

	<div id="divNbPeopleSearch-ca" class="fontFamilyNote">
		<a href="#peopleSearching" id="btnPeopleSearch-ca">
			<p id="localisation-ca">Rennes</p>
			<p id="nbPeopleSearching-ca">Voir les 150 personnes qui recherchent</p>
			<div class="flex">
				<p class="childFlex" id="infoLocalisation-ca">En bas de la page</p>
			</div>
		</a>
	</div>
	<div id="divLibelleRecherche">
		<div>
			@if (ViewBag.researchType != null && ViewBag.researchType == "searching")
			{
				<h3 class="title">Je recherche une éco-colocation</h3>
			}
			else if (ViewBag.researchType != null && ViewBag.researchType == "offering")
			{
				<h3 class="title">Je propose une éco-colocation</h3>
			}
		</div>
	</div>
	<div id="divRubriqueRecherche">
		<div id="sousDivRubriqueRecherche">
			<div id="annonceRubrique" class="col-sm-6 col-xs-12 fontFamilyNote">
				<h3 id="annonceRubrique2" onclick="annonceLocationPage();">Annonces de locations</h3>
			</div>
			<div id="creationRubrique" class="col-sm-6 col-xs-12 fontFamilyNote">
				<h3 id="creationRubrique2" onclick="projetCreationPage();">
					Projets de créations
					<i class="fas fa-question-circle" id="descriptionProjetCreationRubrique" onmouseover="showPopUpInfo('#descriptionProjetCreationRubrique', '#divInfoProjetCreationRubrique')"></i>
				</h3>
				<div id="divInfoProjetCreationRubrique" style="display: none;" onmouseout="closePopUpInfo(this)">
					<p>Le projet de création d'une éco-colocation est un projet qui n'a pas encore été abouti mais qui a déjà été réfléchi préalablement. Il deviendra généralement concret si d'autres personne s'allie sur ce même projet.</p>
				</div>
			</div>
		</div>
	</div>

	@*Miniature sur la map*@
	@if (ViewBag.researchType != null && ViewBag.researchType == "searching")
	{
		<div id="annonceLocation">
			@Html.Partial("~/Views/Ad_Rental/RentalView.cshtml", Model.SearchColocViewModel)
		</div>
		<div id="projetCreation">
			@Html.Partial("~/Views/Ad_CreationProject/CreationProjectView.cshtml", Model.SearchColocViewModel)
		</div>
	}
	else 
	{
		<div id="annonceLocation">
			@Html.Partial("~/Views/Ad_Rental/RentalView.cshtml", Model.ColocAnnounceViewModel)
		</div>
		<div id="projetCreation">
			@Html.Partial("~/Views/Ad_CreationProject/CreationProjectView.cshtml", Model.ColocAnnounceViewModel)
		</div>
	}
</div>

<div id="partialViewPeopleSearching">
	@Html.Partial("~/Views/PeopleSearching/Index.cshtml", Model)
</div>

<script language="javascript">
	$(document).ready(function () {
		$('#_PictureHeader').css('display', "block")

		updateSwitcher('@ViewData["researchType"]');
		
		var researchType = "@ViewData["researchType"]"

		if (researchType == "searching") {
			//Charge la map
			window.onload = function (e) {
				initSearchColocMap();
			}
		}

		setTimeout(function () {
			var url = document.location.href;

			if (url.indexOf("researchType") == -1 && url.indexOf("?") != -1) {
				url +='&researchType=' + "@ViewData["researchType"]";
			}
			else if (url.indexOf("researchType") == -1 && url.indexOf("?") == -1){
				url +='?researchType=' + "@ViewData["researchType"]";
			}

			window.history.replaceState('data to be passed', 'Title of the page', url);
		}, 2000)
	});
</script>